body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#section {
  z-index: 1;
  border-radius : 10px;
  background-color: lightgray;
}

#secondary {
  box-shadow: 0 0 1em lightgray;
  height : 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  width: 25rem;
  align-items: center;
  border-radius: 2rem;
  margin-bottom: 4rem;
  background-color: white;
}
#archived {
  color : lightgray
}
#archived::before {
  content : "*";
}
#newUrl {
  border : none;
  height : 3rem;
  width : 10rem;
  border-radius: 4rem;
  padding : .5rem 1rem .5rem 1rem;
  transition: .2s ease-in-out;
}
#newUrl:focus {
  border : none;
  outline : none;
  box-shadow: 0 0 1.5rem lightblue;
  border-radius: 4rem;
  transition: .2s ease-in-out;
}
#button {
  border: none;
  background-color: royalblue;
  width : 8rem;
  height : 3rem;
  color : white;
  border-radius: 5rem;
  box-shadow: 0 0 1em gray;
  transition: .3s ease-in-out;
}
#button:active {
  background-color: white;
  color : royalblue;
  outline: 2px solid royalblue;
  box-shadow: none;
  transition: .3s ease-in-out;
}
#spinner {
  display: flex;
  margin-bottom: 30rem;
  width: 10rem;
  height:10rem;
}
#absolute {
  color : white;
  position: absolute;
  top : 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.mterial-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#menuOpen:active {
  transform: rotate(360deg);
  transition: .2s ease-in-out;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
